*.crt
*.key
*.ca-bundle
LOCAL.md
*.tgz
.claude
.values-*.yaml
**/public/app.js*
**/public/assets/**
**/public/fonts/**
.terraform*
.claude
terraform.tfvars
terraform.tfvars.aksauto
terraform.tfstate*
_tmp
